<form [formGroup]="formulario">
    <h3 class="text-center">Cadastrar</h3>
    <div class="form-group">
        Tema*: <input type="text" formControlName="tema" class="form-control input-underline input-lg" 
        id="tema" placeholder="Tema">
    </div>
    <div class="form-group">
        Aluno*: <select formControlName="idAluno1" ng-model="name" 
        class="form-control select-underline input-lg" id="idAluno1" placeholder="Aluno">
            <option *ngFor="let aluno of alunos" [value]="aluno.id">
                {{aluno.nome}}
            </option>
        </select>  
    </div>
    <div class="form-group">
        Aluno em dupla: <select formControlName="idAluno2" ng-model="name" 
        class="form-control select-underline input-lg" id="idAluno2" placeholder="Aluno em dupla">
            <option value=""> </option>
            <option *ngFor="let aluno of alunos" [value]="aluno.id">
                {{aluno.nome}}
            </option>
        </select>
    </div>
    <div class="form-group">
        Orientador*: <select formControlName="idOrientador" ng-model="name" 
        class="form-control select-underline input-lg" id="idOrientador" placeholder="Orientador">
            <option *ngFor="let professor of professores" [value]="professor.id">
                {{professor.nome}}
            </option>
        </select>
    </div>
    <div class="form-group">
        Co-orientador: <select formControlName="idCoOrientador" ng-model="name" 
        class="form-control select-underline input-lg" id="idCoOrientador" placeholder="coOrientador">
            <option value=""> </option>
            <option *ngFor="let professor of professores" [value]="professor.id">
                {{professor.nome}}
            </option>
        </select>
    </div>
    <div class="form-group">
        Membro da banca 1: <select formControlName="idMembroBanca1" ng-model="name" 
        class="form-control select-underline input-lg" id="idMembroBanca1" placeholder="Membro da banca 1">
            <option value=""> </option>
            <option *ngFor="let professor of professores" [value]="professor.id">
                {{professor.nome}}
            </option>
        </select>
    </div>
    <div class="form-group">
        Membro da banca 2: <select formControlName="idMembroBanca2" ng-model="name" 
        class="form-control select-underline input-lg" id="idMembroBanca2" placeholder="Membro da banca 2">
            <option value=""> </option>
            <option *ngFor="let professor of professores" [value]="professor.id">
                {{professor.nome}}
            </option>
        </select>
    </div>
    <div class="form-group">
        Nota TCCI: <input type="number" class="form-control input-underline input-lg" 
        id="nota1" formControlName="nota1" placeholder="Nota TCCI">
    </div>
    <div class="form-group">
        Nota TCCII: <input type="number" class="form-control input-underline input-lg" 
        id="nota2" formControlName="nota2" placeholder="Nota TCCII">
    </div>
    <div class="btn-form">
        <button type="submit" class="btn btn-success" (click)="onCadastrar()"> Cadastrar </button>&nbsp;&nbsp;
        <a class="btn btn-secondary" [routerLink]="['/tcc/acompanhar']"> Cancelar </a>
    </div>
</form>