<div class="card-body">
        <ul class="timeline">
  
            
            <div>
                <img src="assets/images/Processo.png" width="650px" style="border-radius: 1%;" class="user-avatar" />&nbsp;
                <a href="http://ifg.edu.br/luziania">
                </a>
            </div> &nbsp;
            <li>
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Pré-projeto</h4>
                        
                    </div>
                    <div class="timeline-body">
                        <p>Carta de aceite de orientador;</p>
                        <p>Carta de aceite de coorientador (se houver);</p>
                        <p>Histórico escolar;</p>
                        <p>Pré-projeto de pesquisa.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">TCC I</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Cadastrar Pré-projeto;</p>
                        <p>Enviar documentos módulo pré-projeto;</p>
                        <p>Acompanhamento de orientação.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge success"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">TCC II</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Acompanhamento de Orientação.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    