<div [@routerTransition]>
        
    <div class="cadastro">
            
<br>
<br>
<br>
            <div class="info-sistema">  
                    <img src="assets/images/logoverde.png" width="100px" class="logo" /> 
                </div>  

<br>
              
        <div>
                <h4>Escolha seu perfil para cadastrar-se</h4> 
                <br>
         <a class="btn btn-cadastrar" [routerLink]="['/professor']"> Professor </a> &nbsp;
              
        <a class="btn btn-cadastrar"  [routerLink]="['/aluno']"> Aluno </a> &nbsp; 
        &nbsp;
   
        <a class="btn btn-cadastrar"  [routerLink]="['/login']"> Voltar </a>
    </div>
    </div>
</div>