<div class="card-body">
    <div class="list-group">

        <a href="file:///C:/Users/Sabrina%20Vieira/Downloads/PPC%20-%20Bacharelado%20em%20Sistemas%20de%20Informa%C3%A7%C3%A3o%20-%20C%C3%A2mpus%20Luzi%C3%A2nia.pdf" class="list-group-item clearfix d-block">
                <i class="fas fa-file-alt"></i> Projeto Pedagógico do Curso
            
        </a>
        <a href="https://www.ifg.edu.br/attachments/article/209/resolucao282014.pdf" class="list-group-item clearfix d-block">
                <i class="fas fa-file-alt"></i> Resolução do TCC do IFG
        
        </a>
        <a href="https://www.ifg.edu.br/attachments/article/209/resolucao0292016.pdf" class="list-group-item clearfix d-block">
            <i class="fas fa-file-alt"></i> Colação de Grau
    
        </a>
        <a href="https://github.com/pocessotcc/templatePreProjeto" class="list-group-item clearfix d-block">
            <i class="fa fa-download fa-fw"></i> Template do pré-projeto
        </a>
        <a href="https://github.com/pocessotcc/TemplateTCC" class="list-group-item clearfix d-block">
            <i class="fa fa-download fa-fw"></i> Template do projeto de TCC
        </a>
        <a href="#" class="list-group-item clearfix d-block">
                <i class="fas fa-user-tie"></i> Coordenação de TCC
        </a>
   
        <a href="#" class="list-group-item clearfix d-block">
                <i class="fas fa-user-tie"></i> Coordenação de Curso
        </a>
    </div>
</div>
