<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div class="col-md-10">
         <form [formGroup]="formulario">
                <div class="info-sistema">  
                    <legend>Cadastro de aluno</legend> 
                </div>
                <div class="form-content">
                  <div class="form-group">
                      <input type="text" formControlName="nome" ng-model="name" class="form-control input-underline input-lg"  placeholder="Nome">
                  </div>

                  <div class="form-group">
                      <input type="text" formControlName="email" ng-model="name" class="form-control input-underline input-lg"  placeholder="Email">
                  </div>

                  <div class="form-group">
                    <input type="number" min="00000000000001" max="99999999999999" formControlName="matricula" ng-model="name" class="form-control input-underline input-lg" placeholder="Matricula">
                </div>
                <div class="form-group">
                    <input type="number" formControlName="periodo" ng-model="name" class="form-control input-underline input-lg"  placeholder="Periodo">
                </div>
                  <div class="form-group">
                      <input type="password" formControlName="senha" ng-model="name" class="form-control input-underline input-lg"  placeholder="Senha">
                  </div>
                  <div class="form-group">
                      <input type="password" formControlName="senha2" ng-model="name" (keydown.enter)="onCadastrar()" class="form-control input-underline input-lg" id="" placeholder="Repetir Senha">
                  </div>
              </div>
              <div class="btn-form">
                <a class="btn btn-primary" (click)="onCadastrar()"> Registrar </a>&nbsp;
                <a class="btn btn-secondary" [routerLink]="['/login']"> Cancelar </a>
              </div>  
          </form>
      </div>
  </div>
</div>