<div class="col-md-10">
    <h2 class="text-center"> Enviar documentos</h2>
    <form [formGroup]="formulario">
        <div class="form-group">
            Tema: {{preProjeto.tema}}
        </div>
        <div class="form-group">
            Alunos: {{preProjeto.aluno1.nome}} {{preProjeto.aluno2 == null ? "" : " e " + preProjeto.aluno2.nome}}
        </div>
        <div class="form-group">
            Orientadores: {{preProjeto.orientador.nome}} {{preProjeto.coOrientador == null ? "" : " e " + preProjeto.coOrientador.nome}}
        </div>
        <div class="form-group">
            Pré-projeto*: <input type="file" id="preProjeto" (change)="onFileChange($event, 'preProjeto')" #fileInput>
            
        </div>
        <div class="form-group">
            Ficha de inscrição*: <input type="file" id="fichaInscrico" (change)="onFileChange($event, 'fichaInscricao')" #fileInput>
            
        </div>
        <div class="form-group">
            Histórico escolar*: <input type="file" id="historico" (change)="onFileChange($event, 'historico')" #fileInput>
            
        </div>
        <div class="form-group">
            Carta de aceite*: <input type="file" id="cartaAceite" (change)="onFileChange($event, 'cartaAceite')" #fileInput>
            
        </div>
        <div class="btn-form">
            <button type="submit" class="btn btn-success" (click)="onCadastrar()"> Enviar </button>&nbsp;&nbsp;
            <a class="btn btn-secondary" [routerLink]="['/preprojeto/editar', this.id, 2]"> Cancelar </a>
        </div>
    </form>
</div>